/*======================================
# START CONFIGURATION
====================================*/


html,body{
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

/*======================================
# FOOTER
====================================*/

.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}

#footer,
.push{
    height: 50px;
}

/*======================================
# OTHER PARTS
====================================*/


#navbar-content{
    text-align: center;
    color: #fff;
    margin-left: 25px;
}

/*======================================
# BLOCK TYPED EFFECT AND BUTTON JOB
====================================*/
.block-position{
    width: 80%;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
/*======================================
# BTN JOB OPPORTUNITIES
====================================*/
#btn-job{

    width: 270px;
    font-size: 22px;
    border-radius: 30px;
    margin-bottom: -50px;
    
    }
/*======================================
# side labels-- left side of the inputs
====================================*/
.side-label{
    width: 50px;
}

/*======================================
# BTN Cancel and send - button inside the modals
====================================*/

.btn-cancel, .btn-send{
    width: 65px;
}