{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--Favicon-->
  
    <!--logo-->
    <link rel="shortcut icon" href="{% static "img/logo.png" %}" type="image/x-icon">
    <!--Boostrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Static css-->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>
    {% block title %}
    Hr Screecher
    {% endblock title %}
    </title>
</head>
<body>
   <div class="wrapper">

<!--Preloader -->
<div id="preloader">

</div>
    <style>
        body
        {
            background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)),  url("/static/img/frontend.jpg");
            background-position: center 0px;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
<header>
    <nav class="navbar bavbar-expand-lg navbar-dark bg-dark">
        <div class="col-sm">
            <a class="navbar-brand flex-grow-1" id="navbar-content">
               {% block navbar-content %}
               <i class="text-warning fas fa-chart-pie"></i>&nbsp;&nbsp; HR Screecher
               {% endblock navbar-content %}
            </a>
        </div>
         <!-- Link to navigate between the pages -->
        {% block link %}

        {% endblock link %}
    </nav>
</header>
    <!-- Block content -->
    {% block content %}

    {% endblock content %}
   </div>


   <!--include (modals)-->
   {% include "modals/frontend.html" %}
   {% include "modals/fullstack.html" %}
   {% include "modals/backend.html" %}
    <!--End of wrapper-->

<footer class="bg-dark text-center text-lg-start" id="footer" style="color: #fff;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">&copy; {% now "Y" %} Copyright
        <a class="text-center" href="#" style="text-decoration: none;">
            <span class="text-warning">wwww.hr-Screecher.net</span>
        </a>
    </div>
</footer>



<!--Message from backend (success )-->
{% for message in messages %}
{% if message.tags == 'success' %}
<!--Sweetalert-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    var m = "{{ message }}";
    swal("Perfect !",m,"success");
</script>


{% endif %}


{% endfor %}
  
   <!--Bootstrap Js-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
   <!--jQuery-->
   <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<!--Typed JS Effect-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js" integrity="sha512-tQQXRDB2wEmuJGtFrmmoFYzNTq8StA1XJrfO0OQbbTxd9G0CwaTDL6/C1y805IlvBVrMwOqob1kf6r/2U5XXVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--Inputmask-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js" integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--Sweetalert (frontend  validation)-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!--Static js-->
<script src="{% static "js/script.js" %}"></script>


<!--Typed effect control-->
<script>
    var typed = new Typed('#element',{
        strings: [
            'are a job agency',
            'offer you job',
            'work with IT solutions',
            'are the best agency'
        ],
        typeSpeed:50,
        backSpeed:30,
        loop:true,
    })
</script>

<!--Form modal clear function when closed or outside is clicked -->
<script>
    $("#frontendModal,#backendModal,#fullstackModal").on('hidden.bs.modal',function(){
        $("#frontendModal form")[0].reset();
        $("#backendModal form")[0].reset();
        $("#fullstackModal form")[0].reset();
    });
</script>

</body>
</html>